CMakeCache.txt
CMakeFiles/
*.cmake
install_manifest.txt
Makefile

.vscode/
.idea/
cmake-build-*/

*.linkinfo
*.nvcc.*
*.cubin
*.ptx
*.gpu
*.fatbin
*.elf
*.exp
*.lib
*.ilk
*.iobj
*.ipdb
*.pdb

build/
.tmp/
.data/
resources/dev
resources/data/cifar-10-batches-bin/
resources/data/cifar10/*
Thumbs.db
*~
*.swp
*.swo
*.bak
*.tmp

*.obj
*.exe
*.dll
*.manifest
*.log
*.o
*.so