env/
.env/
.pyenv/
.todo.txt
CMakeCache.txt
CMakeFiles/
*.cmake
install_manifest.txt
Makefile

.vscode/
.idea/
cmake-build-*/

*.linkinfo
*.nvcc.*
*.cubin
*.ptx
*.gpu
*.fatbin
*.elf
*.exp
*.lib
*.ilk
*.iobj
*.ipdb
*.pdb

build/
.tmp/
.old/
.data/

Thumbs.db
*~
*.swp
*.swo
*.bak
*.tmp

*.obj
*.exe
*.dll
*.manifest
*.log
*.o
*.so